
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title fs-1">Insurance Map</h1>
            </div>
            <div class="card-body p-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <select id="insurance-clinics" class="form-select" data-control="select2" data-placeholder="Select a Clinic">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="insurance-insurance" class="form-select" data-control="select2" data-placeholder="Select an Insurance">
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-row-bordered gy-5" id="insurance-table">
                                <thead>
                                    <tr class="fw-bold fs-6 text-gray-800">
                                        <th>Insurance Name</th>
                                        <th>Ins Emr ID</th>
                                        <th>EMR hfir ID</th>
                                        <th>Ins Clinic ID</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
