
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title fs-1">Insurance Settings</h1>
            </div>
            <div class="card-body p-6">
                <div class="panel panel-primary">
                    <div class="tab-menu-heading">
                        <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                            <!-- <li class="nav-item"><a href="#insurance_map" class="nav-link active" data-bs-toggle="tab">Insurance Map</a></li> -->
                            <li class="nav-item"><a href="#insurance_lob_map" class="nav-link active" data-bs-toggle="tab">Insurance Mapping</a></li> <!-- Original Name : Insurance Lob Map -->
                            <li class="nav-item"><a href="#insurance_lob" class="nav-link " data-bs-toggle="tab">Insurance Lob</a></li>
                            <li class="nav-item"><a href="#insurance_default_lob" class="nav-link " data-bs-toggle="tab">Set Default Lob</a></li>
                            <li class="nav-item"><a href="#insurance_type" class="nav-link " data-bs-toggle="tab">Insurance Type</a></li>
                            <li class="nav-item"><a href="#insurance_payment" class="nav-link " data-bs-toggle="tab">Insurance Payment Method</a></li>
                        </ul>
                    </div>
                    <div class="panel-body tabs-menu-body tab_area">
                        <div class="tab-content">
                            <!-- <div class="tab-pane active" id="insurance_map">
                                <input type="hidden" id="chosen_map"></input>
                                <div class="row">
                                    <div class="col-md-3">
                                        <select id="insurance-clinics" class="form-select" data-control="select2" data-placeholder="Select a Clinic">
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="insurance-insurance" class="form-select" data-control="select2" data-placeholder="Select an Insurance">
                                        </select>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3 justify-content-end">
                                        <button class="btn btn-primary" id="insurance-add">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-row-bordered gy-5" id="insurance-table">
                                        <thead>
                                            <tr class="fw-bold fs-6 text-gray-800">
                                                <th class="col-md-1">ID</th>
                                                <th class="col-md-4">Ins Clinic</th>
                                                <th class="col-md-4">Insurance</th>
                                                <th class="col-md-1">Ins emr ID</th>
                                                <th class="col-md-1">Ins hfir ID</th>
                                                <th class="col-md-4">LOB</th>
                                                <th class="col-md-2">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div> -->
                            <div class="tab-pane active" id="insurance_lob_map">
                                <input type="hidden" id="chosen_lob_map"></input>
                                <div class="row">
                                    <div class="col-md-3">
                                        <select id="insurance-lob-clinics" class="form-select" data-control="select2" data-placeholder="Select a Clinic">
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="insurance-lob-insurance" class="form-select" data-control="select2" data-placeholder="Select an Insurance">
                                        </select>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3 justify-content-end">
                                        <button class="btn btn-primary" id="insurance-lob-add">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-row-bordered gy-5" id="insurance-lob-table">
                                        <thead>
                                            <tr class="fw-bold fs-6 text-gray-800">
                                                <th>ID</th>
                                                <th>Clinic Name</th>
                                                <th>Insurance Name</th>
                                                <th>LOB Name</th>
                                                <th>ECW Insurance ID</th>
                                                <th>ECW Log Insurance ID</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="insurance_lob">
                                <div class="row mb-4">
                                    <div class="col-md-3">
                                        <select id="lob-ins-filter" data-control="select2" class="form-select" data-placeholder="Select an Insurance">
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="lob-clinic-filter" data-control="select2" class="form-select" data-placeholder="Select a Clinic">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-primary" id="lob-add"><i class="fa fa-plus mr-2"></i>Add LOB</a>                        
                                    </div>
                                    <div class="col-md-3" style="display: flex; justify-content: space-between;">
                                        <div class="d-flex align-items-center position-relative">
                                            <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            <input id="lob-search-input"  type="text" class="form-control form-control-solid w-100 ps-13" placeholder="Search LOB" />
                                        </div>                        
                                    </div>
                                </div>
                                <input type="hidden" id="chosen-lob" />
                                <div class="table-responsive table-lg pt-2">
                                    <table class="table table-striped table-bordered text-nowrap w-100" id="lob-table">
                                        <thead>
                                            <tr>
                                                <th>Insurance</th>
                                                <th>Clinic</th>
                                                <th>LOB Group Name</th>
                                                <th>Description</th>
                                                <th>Variations</th>
                                                <th>EMR ID</th>
                                                <th>FHIR ID</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="insurance_default_lob">
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <select id="default_ins_list" data-control="select2" class="form-control select2-show-search" data-placeholder="Select an Inusurance">
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-primary inslobsetbtn">Set Default LOB</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="insurance_type">
                                <div class="row mb-5">
                                    <div class="col-md-4">
                                        <a class="btn btn-primary" id="type-add-btn" ><i class="fa fa-plus">&nbsp;</i>Add Insurance Type</a>
                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control form-control-solid" placeholder="Input Search Text" id="insurance-type-search">
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <input type="hidden" id="chosen_type" />
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered text-nowrap"  id="type_table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col-md-4">Display</th>
                                                <th scope="col" class="col-md-6">Description</th>
                                                <th scope="col" class="col-md-2">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="insurance_payment">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6 px-6">
                                                <div class="card-toolbar">
                                                    <button id="addpaymethod" type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin-right: 10px;"><i class="fa fa-plus mr-2"></i>Add Payment Method</button>
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        </i>
                                                        <input id="pay_method_search_input"  type="text" data-kt-user-table-filter="search"  class="form-control form-control-solid w-350px ps-13"  placeholder="Search Payment Method" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap" id="pay_method_table">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-1">Id</th>                                                              
                                                            <th class="col-md-2">Display</th>                                                                
                                                            <th class="col-md-8">Description</th>                                                                
                                                            <th class="col-md-1">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Insurance Map begin -->
<div class="modal fade" id="insurance-add-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
        <input type="hidden" id="edit-type" value="1"></input>
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add New Insurance Map</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
				</div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-7 my-5">
                        <select id="insurance-add-insurance" class="form-select" data-dropdown-parent="#insurance-add-modal" data-control="select2" data-placeholder="Select an Insurance">
                        </select>
                    </div>
                    <div class="col-md-5 my-5">
                        <select id="insurance-add-lob" class="form-select" data-dropdown-parent="#insurance-add-modal" data-control="select2" data-placeholder="Select a Lob" data-allow-clear="true">
                        </select>
                    </div>
                    <div class="col-md-12 my-5">
                        <select id="insurance-add-clinics" class="form-select" data-dropdown-parent="#insurance-add-modal" data-control="select2" data-placeholder="Select a Clinic">
                        </select>
                    </div>
                    <div class="col-md-12 my-5">
                        <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Insurace Emr ID" id="insurance-add-emrid">
                    </div>
                    <div class="col-md-12 my-5">
                        <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Emr fhir ID" id="insurance-add-fhirid">
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="insurance-save"><i class="fa fa-save">&nbsp;</i> Save</button>
				<button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Insurance Map end -->

<!-- Insurance Lob Map begin -->
<div class="modal fade" id="insurance-lob-add-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
        <input type="hidden" id="edit-lob-type" value="1"></input>
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add New Insurance Mapping</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
				</div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12 my-5">
                        <label for="insurance-lob-add-clinics">Clinic:</label>
                        <select id="insurance-lob-add-clinics" class="form-select" data-dropdown-parent="#insurance-lob-add-modal" data-control="select2" data-placeholder="Select a Clinic">
                        </select>
                    </div>
                    <div class="col-md-12 my-5">
                        <label for="insurance-lob-add-insurance">Insurance:</label>
                        <select id="insurance-lob-add-insurance" class="form-select" data-dropdown-parent="#insurance-lob-add-modal" data-control="select2" data-placeholder="Select an Insurance">
                        </select>
                    </div>
                    <div class="col-md-12 my-5">
                        <label for="insurance-lob-add-lob">Insurance Lob:</label>
                        <select id="insurance-lob-add-lob" class="form-select" data-dropdown-parent="#insurance-lob-add-modal" data-control="select2" data-placeholder="Select an Insurance Lob" data-allow-clear="true">
                         </select>
                    </div>
                    <div class="col-md-12 my-5">
                        <label for="insurance-lob-add-ecwid">ECW Insurance ID:</label>
                        <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="ECW Insurance ID" id="insurance-lob-add-ecwid">
                    </div>
                    <div class="col-md-12 my-5">
                        <label for="insurance-lob-add-ecwlogid">ECW Log Insurance ID:</label>
                        <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="ECW Log Insurance ID" id="insurance-lob-add-ecwlogid">
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="insurance-lob-save"><i class="fa fa-save">&nbsp;</i> Save</button>
				<button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Insurance Lob Map end -->

<!-- Insurance Lob begin -->
<div class="modal fade" id="inslob-edit-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">User Edit</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <input type="hidden" id="lob-modal-type">
                <div class="row">
                    <div class="col-md-12 my-3">
                        <label for="lob-insurance" class="form-control-label">Insurance:</label>
                        <select id="lob-insurance" data-control="select2" class="form-control select2-show-search" data-placeholder="Select an Insurace">
                        </select>
                    </div>
                    <div class="col-md-12 my-3">
                        <label for="lob-clinic" class="form-control-label">Clinic:</label>
                        <select id="lob-clinic" data-control="select2" class="form-control select2-show-search" data-placeholder="Select a Clinic">
                        </select>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="form-group">
                            <label for="lob-name" class="form-control-label">LOB Group Name:</label>
                            <input type="text" class="form-control" id="lob-name">
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="form-group">
                            <label for="lob-desc" class="form-control-label">Description:</label>
                            <input type="text" class="form-control" id="lob-desc">
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="form-group">
                            <label for="lob-var" class="form-control-label">Variations:</label>
                            <input type="text" class="form-control" id="lob-var">
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="form-group">
                            <label for="lob-type" class="form-control-label">Type:</label>
                            <select id="lob-type" aria-label="Select a Type" data-control="select2" data-hide-search="true" data-placeholder="Select a Type..." class="form-select mb-2"></select>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="form-group">
                            <label for="lob-emrid" class="form-control-label">EMR ID:</label>
                            <input type="text" class="form-control" id="lob-emrid">
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="form-group">
                            <label for="lob-fhirid" class="form-control-label">FHIR ID:</label>
                            <input type="text" class="form-control" id="lob-fhirid">
                        </div>
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="lob-save-btn"><i class="fa fa-save">&nbsp;</i> Save</button>
            </div>
		</div>
	</div>
</div>
<!-- Insurance Lob end -->

<!-- Insurance Type begin -->
<div class="modal fade" id="type-edit-modal" tabindex="-1" organization="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-lg" organization="document">
        <input type="hidden" id="type-edit-type"></input>
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Organization Type</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="insurance-type-display" class="required fw-semibold fs-6 mb-2">Display:</label>
                            <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" id="insurance-type-display">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="insurance-type-desc" class="fw-semibold fs-6 mb-2">Description:</label>
                            <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" id="insurance-type-desc">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="type-save-btn"><i class="fa fa-save">&nbsp;</i> Save</button>
            </div>
		</div>
	</div>
</div>
<!-- Insurance Type end -->

<!-- Insurance Payment Method begin -->
<div class="modal fade" id="pay_method_add_modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Payment Method</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Display:</label>
                            <input type="text" class="form-control" id="add_pay_method_display" name="add_pay_method_display">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Description:</label>
                            <textarea type="text" class="form-control" id="add_pay_method_description" name="add_pay_method_description"></textarea>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="save_pay_method"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="pay_method_edit_modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Payment Method</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="edit_pay_method_id" name="edit_pay_method_id">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Display:</label>
                                <input type="text" class="form-control" id="edit_pay_method_display" name="edit_pay_method_display">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Description:</label>
                                <textarea type="text" class="form-control" id="edit_pay_method_description" name="edit_pay_method_description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="update_pay_method"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<!-- Insurance Payment Method end -->
