
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title fs-1">Insurance Map</h1>
            </div>
            <div class="card-body p-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <select id="insurance-clinics" class="form-select" data-control="select2" data-placeholder="Select a Clinic">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="insurance-insurance" class="form-select" data-control="select2" data-placeholder="Select an Insurance">
                                </select>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3 justify-content-end">
                                <button class="btn btn-primary" id="insurance-add">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-row-bordered gy-5" id="insurance-table">
                                <thead>
                                    <tr class="fw-bold fs-6 text-gray-800">
                                        <th class="col-md-4">Insurance Name</th>
                                        <th class="col-md-2">Ins Emr ID</th>
                                        <th class="col-md-2">EMR hfir ID</th>
                                        <th class="col-md-2">Ins Clinic ID</th>
                                        <th class="col-md-3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="insurance-add-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
        <input type="hidden" id="edit-type" value="1"></input>
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add New Insurance Map</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
				</div>
			</div>
			<div class="modal-body">
                <div class="col-md-12 my-5">
                    <select id="insurance-add-insurance" class="form-select" data-control="select2" data-placeholder="Select a Clinic">
                    </select>
                </div>
                <div class="col-md-12 my-5">
                    <select id="insurance-add-clinics" class="form-select" data-control="select2" data-placeholder="Select a Clinic">
                    </select>
                </div>
                <div class="col-md-12 my-5">
                    <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Insurace Emr ID" id="insurance-add-emrid">
                </div>
                <div class="col-md-12 my-5">
                    <input type="text" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Emr fhir ID" id="insurance-add-fhirid">
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="insurance-save"><i class="fa fa-save">&nbsp;</i> Save</button>
				<button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
			</div>
		</div>
	</div>
</div>
