<style>
    .tab-content i {
        color:#fff;
    }
    .table-responsive{
        padding:10px;
    }
</style>
<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">General Settings</h3>
            </div>
            <div class="card-body p-6">
                <div class="panel panel-primary">
                    <div class=" tab-menu-heading">
                        <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                            <li class="nav-item"><a href="#sqtab" class="nav-link active" data-bs-toggle="tab">Security Question</a></li>
                            <li class="nav-item"><a href="#vkeytab" class="nav-link" data-bs-toggle="tab">ECW Log Validations</a></li>
                            <li class="nav-item"><a href="#roletab" class="nav-link" data-bs-toggle="tab">Roles</a></li>
                            <li class="nav-item"><a href="#workpctab" class="nav-link" data-bs-toggle="tab">Work Computers</a></li>
                        </ul>
                    </div>
                    <div class="panel-body tabs-menu-body">
                        <div class="tab-content">
                            <div class="tab-pane active " id="sqtab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6">
                                                <div class="card-title">
                                                    <h3 class="card-title ">Security Questions</h3>
                                                </div>
                                                <div class="card-toolbar">
                                                    <button id="questionaddbtn" type="button" class="btn btn-md btn-primary " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fe fe-plus mr-2"></i>Add a new Question</button>
                                                    <input type="hidden" id="chosen_sq" />
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="squestiontable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Questions</th>
                                                            <th scope="col">Active</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>At vero eos et accusamus et iusto odio</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-primary" href="#"><i class="fa fa-edit"></i> Edit</a>
                                                                <a class="btn btn-sm btn-danger" href="#"><i class="fa fa-trash"></i> Delete</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="vkeytab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6">
                                                <div class="card-title">
                                                    <h3 class="card-title ">Validation Keys</h3>
                                                </div>
                                                <div class="card-toolbar">
                                                    <button id="vkeyadd-btn" type="button" class="btn btn-md btn-primary " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fe fe-plus mr-2"></i>Add a new Key</button>
                                                    <input type="hidden" id="chosen_vkey" />
                                                </div>    
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="vkeytable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Key Value</th>
                                                            <th scope="col">Active</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="roletab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6">
                                                <div class="card-title">
                                                    <h3 class="card-title ">Roles</h3>
                                                </div>
                                                <div class="card-toolbar">
                                                    <button id="roleadd-btn" type="button" class="btn btn-md btn-primary " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fe fe-plus mr-2"></i>Add a new Role</button>
                                                    <input type="hidden" id="chosen_role" />
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="roletable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Role</th>
                                                            <th scope="col">Active</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="workpctab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6">
                                                <div class="card-title">
                                                    <h3 class="card-title ">Work Computers</h3>
                                                </div>
                                                <div class="card-options">
                                                    <button id="workpcadd-btn" type="button" class="btn btn-md btn-primary " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fe fe-plus mr-2"></i>Add a new computer</button>
                                                    <input type="hidden" id="chosen_workpc" />
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="workpctable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Computer</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSED -->
<div class="modal fade" id="question-add-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Secuirty Question</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Question:</label>
                            <input type="text" class="form-control" id="question">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="sqstatus" class="form-control-label">Status:</label>
                            <select id="sqstatus" class="form-control custom-select">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="sqaddbtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="question-edit-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Secuirty Question</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="squestion" class="form-control-label">Question:</label>
                            <input type="text" class="form-control" id="squestion">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="esqstatus" class="form-control-label">Status:</label>
                            <select id="esqstatus" class="form-control custom-select">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="sqeditbtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="vkey-add-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Validation Key</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="vkey" class="form-control-label">Key:</label>
                            <input type="text" class="form-control" id="vkey">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="vkeystatus" class="form-control-label">Status:</label>
                            <select id="vkeystatus" class="form-control custom-select">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="vkeyaddbtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="vkey-edit-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Validation Key</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="evkey" class="form-control-label">Key:</label>
                            <input type="text" class="form-control" id="evkey">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="evkeystatus" class="form-control-label">Status:</label>
                            <select id="evkeystatus" class="form-control custom-select">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="vkeyeditbtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="role-add-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Role</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="role" class="form-control-label">Role:</label>
                            <input type="text" class="form-control" id="role">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="rolestatus" class="form-control-label">Status:</label>
                            <select id="rolestatus" class="form-control custom-select">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="roleaddbtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="role-edit-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Role</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="erole" class="form-control-label">Role:</label>
                            <input type="text" class="form-control" id="erole">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="erolestatus" class="form-control-label">Status:</label>
                            <select id="erolestatus" class="form-control custom-select">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="roleeditbtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="workpc-add-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Computer</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="workpc" class="form-control-label">Computer:</label>
                            <input type="text" class="form-control" id="workpc">
                        </div>
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="workpcaddbtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>