<div class="row row-cards">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="d-flex flex-stack">
        <!--begin::Section-->
        <div class="d-flex align-items-center me-5">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <span class="symbol-label">
              <i class="ki-duotone ki-tablet-book text-gray-600 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </div>
          <div class="me-5">
            <a
              href="/database/import/eventType"
              class="text-gray-800 fw-bold text-hover-primary fs-6"
              >Event Type</a
            >
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-5"></div>
      <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <span class="symbol-label">
              <i class="ki-duotone ki-tablet-book text-gray-600 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </div>
          <div class="me-5">
            <a
              href="/database/import/eventSubType"
              class="text-gray-800 fw-bold text-hover-primary fs-6"
              >Event Sub Type</a
            >
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-5"></div>
      <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <span class="symbol-label">
              <i class="ki-duotone ki-tablet-book text-gray-600 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </div>
          <div class="me-5">
            <a
              href="/database/import/entityType"
              class="text-gray-800 fw-bold text-hover-primary fs-6"
              >Entity Type</a
            >
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-5"></div>
      <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <span class="symbol-label">
              <i class="ki-duotone ki-tablet-book text-gray-600 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </div>
          <div class="me-5">
            <a
              href="/database/import/languages"
              class="text-gray-800 fw-bold text-hover-primary fs-6"
              >Languages</a
            >
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-5"></div>
      <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <span class="symbol-label">
              <i class="ki-duotone ki-tablet-book text-gray-600 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </div>
          <div class="me-5">
            <a
              href="/database/import/currencies"
              class="text-gray-800 fw-bold text-hover-primary fs-6"
              >Currencies</a
            >
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-5"></div>
      <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <span class="symbol-label">
              <i class="ki-duotone ki-tablet-book text-gray-600 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </div>
          <div class="me-5">
            <a
              href="/database/import/coverageType"
              class="text-gray-800 fw-bold text-hover-primary fs-6"
              >Coverage Type</a
            >
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-5"></div>
      <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <span class="symbol-label">
              <i class="ki-duotone ki-tablet-book text-gray-600 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </div>
          <div class="me-5">
            <a
              href="/database/import/race"
              class="text-gray-800 fw-bold text-hover-primary fs-6"
              >Race</a
            >
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-5"></div>
      <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <span class="symbol-label">
              <i class="ki-duotone ki-tablet-book text-gray-600 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </div>
          <div class="me-5">
            <a
              href="/database/import/ethnicity"
              class="text-gray-800 fw-bold text-hover-primary fs-6"
              >Ethnicity</a
            >
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-5"></div>
    </div>
  </div>
</div>
