<div class="modal fade" id="appointment_modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-fullscreen p-9" role="document">
		<div class="modal-content modal-rounded">
			<div class="modal-header">
				<h3 class="modal-title" >Appointments </h3>
				<input type="hidden" id="appt_pt_mid" />
				<input type="hidden" id="appt_pt_emrid" />
				<input type="hidden" id="appt_pt_insurance" />
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
				</div>
			</div>
			<div class="modal-body">
				<div class="row h-100 flex-wrap align-content-start">
					<div class="d-flex  flex-sm-nowrap mb-3 col-md-12 mh-50px border-bottom">
						<div class="row  align-items-center mb-2 w-100">
							<div class="col-md-8 d-flex align-items-center">
								<div class="symbol symbol-40px symbol-circle me-1" >
									<span class="symbol-label fs-3 bg-primary text-inverse-primary fw-bold" id="appt_pt_name_icon">A</span>
								</div>
								<a class="text-gray-900 text-hover-primary fs-2 fw-bold mx-2" ><div class="" id="appt_pt_fullname"></div></a>
								<div class="fw-semibold fs-6 m-1 pe-2">
									<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 ">
										<div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip"  data-kt-initialized="1">
											<span class="symbol-label bg-info text-inverse-info fw-bold">L</span>
										</div><div id="appt_pt_language"></div></a>
								</div>
								<div class= "d-flex align-items-center fw-semibold fs-6 m-1 pe-2">
									<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 ">
										<div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip"  data-kt-initialized="1">
										<span class="symbol-label bg-primary text-inverse-primary fw-bold">S</span>
										</div><div class="" id="appt_pt_gender">Female</div></a>
								</div>
								<div class="d-flex align-items-center fw-semibold fs-6 m-1 pe-2">
									<div class=" fw-bold fs-6 pe-1 text-active-info ">DOB:</div>
									<div class="text-gray-500" id="appt_pt_dob"></div>
								</div>
								<div class= "d-flex align-items-center fw-semibold fs-6 m-1 pe-2">
									<div class=" fw-bold fs-6 pe-1 text-active-info ">Age:</div>
									<div class="text-gray-500" id="appt_pt_age"></div>
								</div>
								<div  class="mx-3 mt-1 cursor-pointer pt_info ms-20" >
									<i class="ki-outline ki-information-2 text-warning fs-2x">
									</i>
								</div>
							</div>
							<div class="col-md-4 d-flex justify-content-end">
								<a class="btn btn-primary permissionaddbtn" id="appt_add_btn" ><i class="fa fa-plus">&nbsp;</i>New</a>
							</div>
						</div>
					</div>
					<div class="d-flex flex-wrap flex-sm-nowrap mb-3 col-md-3" style="height: calc(100% - 50px);">
						<div class="d-flex align-content-between h-100 row w-100">
							<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
								<div class="d-flex flex-column w-100">
									<div class= "fw-semibold fs-6 m-1 pe-2">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
										<i class="ki-duotone ki-geolocation fs-1 me-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i><div class="" id="appt_pt_address"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2 d-flex align-items-center">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
											<i class="fa fa-phone ms-1 me-3 " aria-hidden="true"></i> <div id="appt_pt_telephone" class="calling cursor-pointer"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2 d-flex align-items-center">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
											<i class="ki-duotone ki-phone fs-1 me-1">
											<span class="path1"></span>
											<span class="path2"></span>
											</i> <div id="appt_pt_phone" class="calling cursor-pointer"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
										<i class="ki-duotone ki-sms fs-1 me-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i><div id="appt_pt_email"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
											<div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip"  data-kt-initialized="1">
												<span class="symbol-label bg-success text-inverse-success fw-bold">I</span>
											</div>Ins ID: <div id="appt_pt_insid"></div></a>
									</div>
									<!--end::Info-->
								</div>
							</div>
							<div class="d-flex flex-wrap flex-stack m-4 pe-16">
								<div class="d-flex align-items-center w-100 flex-column mt-3">
									<div class="d-flex justify-content-between w-100 mt-auto mb-2">
										<span class="fw-semibold fs-6 text-gray-500">Completed</span>
										<span class="fw-bold fs-6">0%</span>
									</div>
									<div class="h-5px mx-3 w-100 bg-light mb-3">
										<div class="bg-success rounded h-5px" role="progressbar" style="width: 1%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				  <div class="card-body col-md-9 ">
					<input type="hidden" id="chosen_vital" />
					
					<table class="table table-striped table-bordered text-nowrap w-100"  id="appointment_table" >
					  <thead>
						<tr >
							<th width="5%"></th>
							<th width="30%">Provider</th>
							<th width="30%">Reason</th>
							<th width="30%">Status</th>
							<th width="20%">Date Time</th>
							<th width="15%" class="text-center col-md-3"></th>
						</tr>
					  </thead>
					  <tbody></tbody>
					</table>
				  </div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="modal fade" id="appointment_edit_modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
	  <div class="modal-content">
		<div class="modal-header pb-1">
		    <div class="modal-title" id="appointment_title">
			  <div class="d-flex align-items-center ">
				<a  class="text-gray-900 text-hover-primary fs-2 fw-bold me-1" id="appointment_modal_fullname"></a>
				<div class= "fw-semibold fs-6 m-1 pe-2">
					<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 ">
						<div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip"  data-kt-initialized="1">
							<span class="symbol-label bg-info text-inverse-info fw-bold">L</span>
						</div><div id="appointment_modal_language"></div></a>
				</div>
				<div class= "d-flex align-items-center fw-semibold fs-6 m-1 pe-2">
					<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 ">
						<div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip"  data-kt-initialized="1">
						<span class="symbol-label bg-primary text-inverse-primary fw-bold">S</span>
						</div><div class="" id="appointment_modal_gender"></div></a>
				</div>
				<div class= "d-flex align-items-center fw-semibold fs-6 m-1 pe-2">
					<div class=" fw-bold fs-6 pe-1 text-active-info ">DOB:</div>
					<div class="text-gray-500" id="appointment_modal_dob"></div>
				</div>
				<div class= "d-flex align-items-center fw-semibold fs-6 m-1 pe-2">
					<div class=" fw-bold fs-6 pe-1 text-active-info ">Age:</div>
					<div class="text-gray-500" id="appointment_modal_age"></div>
				</div>
				<div  class="mx-3 mt-1 cursor-pointer pt_info ms-20" >
					<i class="ki-outline ki-information-2 text-warning fs-2x">
					</i>
				</div>
				
			  </div>
			  <div class="d-flex flex-wrap fw-semibold fs-6 my-2 pe-2">
				<a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
					<i class="ki-duotone ki-safe-home fs-4 me-1">
						<span class="path1"></span>
						<span class="path2"></span>
					</i><div id="appointment_modal_clinic"></div></a>
				<a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
				<i class="fa fa-phone me-2"></i><div id="appointment_modal_telephone" class="calling cursor-pointer"></div></a>
				<a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
					<i class="ki-duotone ki-phone fs-4 me-1">
						<span class="path1"></span>
						<span class="path2"></span>
					</i><div id="appointment_modal_phone" class="calling cursor-pointer"></div></a>
					<a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary mb-2">
				<i class="ki-duotone ki-sms fs-4 me-1">
					<span class="path1"></span>
					<span class="path2"></span>
				</i><div id="appointment_modal_email"></div></a>
			  </div>
		    </div>
			
			
		  <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
			  <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
		  </div>
		  <input type="hidden" class="form-control" id="appointment_id" data-field="id">
		  <input type="hidden" class="form-control" id="appointment_clinic_id" data-field="clinic_id">
		  <input type="hidden" class="form-control" id="appointment_patient_id" data-field="patient_id">
		  <input type="hidden" class="form-control" id="appointment_emr_id" data-field="emr_id">
		  <input type="hidden" class="form-control" id="appointment_pcp_id" data-field="pcp_id">
		</div>
		<div class="modal-body pt-2">
		  <div class="row">
            <div class="col-md-3">
				<div class="form-group">
					<label for="appointment_appt_type" class="fw-semibold fs-6 my-2">Appointment Type:</label>
					<select  class="form-control select2 custom-select" id="appointment_appt_type" data-field="appt_type">
                    </select>
				</div>
			</div>
            <div class="col-md-3">
				<div class="form-group">
					<label for="appointment_reason" class="required  fs-6 my-2">Reason:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="reason" id="appointment_reason">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_approve_date" class="fw-semibold fs-6 my-2">Approval Date:</label>
					<input type="date" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="approve_date" id="appointment_approve_date">
				</div>
			</div>
			<div class="col-md-3">
				<div class="d-flex flex-column flex-wrap fw-semibold px-4 pt-6 pb-2" data-kt-customer-table-filter="appointment_provider_type">
					<label class="form-check form-check-sm form-check-custom form-check-solid mb-3 me-5">
						<input class="form-check-input provider-radio" type="radio" name="appointment_provider" value="0" checked="checked">
						<span class="form-check-label text-gray-600" id="appointment_clinic_name">Clinic Name</span>
					</label>
					<label class="form-check form-check-sm form-check-custom form-check-solid mb-3 me-5">
						<input class="form-check-input provider-radio" type="radio" name="appointment_provider" value="1">
						<span class="form-check-label text-gray-600">Specialist Visit</span>
					</label>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_priority" class="fw-semibold fs-6 my-2">Priority:</label>
					<select  class="form-control select2 custom-select" id="appointment_priority" data-field="priority">
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_status" class="fw-semibold fs-6 my-2">Status:</label>
                    <select  class="form-control select2 custom-select" id="appointment_status" data-field="status">
						<option value="proposed">Proposed</option>
                        <option value="pending">Pending </option>
                        <option value="booked">Booked </option>
                        <option value="arrived">Arrived </option>
                        <option value="fulfilled">Fulfilled</option>
                        <option value="cancelled">Cancelled</option>
                        <option value="noshow">No Show</option>
                        <option value="entered-in-error">Entered in Error </option>
                        <option value="checked-in">Checked In</option>
                        <option value="waitlist">Waitlisted</option>
                    </select>

				</div>
			</div>
            <div class="col-md-3">
				<div class="form-group">
					<label for="appointment_start_date" class="required  fs-6 my-2">Start Time:</label>
					<input type="time" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="start_date" id="appointment_start_date">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_end_date" class="fw-semibold fs-6 my-2">End Time:</label>
					<input type="time" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="end_date" id="appointment_end_date">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_measure" class="fw-semibold fs-6 my-2">Related Measure:</label>
                    <select  class="form-control select2 custom-select" id="appointment_measure" data-field="measure">
						
                    </select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_assessment" class="fw-semibold fs-6 my-2">Assessment:</label>
                    <select  class="form-control select2 custom-select" id="appointment_assessment" data-field="assessment">
						
                    </select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_clinic_provider" class="fw-semibold fs-6 my-2">Clinic Provider:</label>
                    <select  class="form-control select2 custom-select" id="appointment_clinic_provider" data-field="clinic_provider">
						
                    </select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_specialist_provider" class="fw-semibold fs-6 my-2">External Medical Provider:</label>
                    <select  class="form-control select2 custom-select" id="appointment_specialist_provider" data-field="specialist_provider">
						
                    </select>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_participate_status" class="fw-semibold fs-6 my-2">Patient Participate Status:</label>
                    <select  class="form-control select2 custom-select" id="appointment_participate_status" data-field="pt_participate_status">
						<option value="needs-action">Needs Action</option>
                        <option value="accepted">Accepted</option>
                        <option value="declined">Declined</option>
                        <option value="tentative">Tentative</option>
                    </select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_class" class="fw-semibold fs-6 my-2">Class:</label>
					<select  class="form-control select2 custom-select" id="appointment_class" data-field="class"></select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="appointment_notes" class="fw-semibold fs-6 my-2">Notes:</label>
                    <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="notes" id="appointment_notes">
                </div>
			</div>
            
            <div class="col-md-12">
				<div class="form-group">
					<label for="appointment_description" class="fw-semibold fs-6 my-2">Description:</label>
                    <input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="description" id="appointment_description">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_service_category" class="fw-semibold fs-6 my-2">Service Category:</label>
					<select  class="form-control select2 custom-select" id="appointment_service_category" data-field="service_category">
                        <option value="1">Adoption</option>
                        <option value="2">Aged Care</option>
                        <option value="34">Allied Health</option>
                        <option value="3">Alternative/Complementary Therapies</option>
                        <option value="4">Child Care /Kindergarten</option>
                        <option value="5">Child Development</option>
                        <option value="6">Child Protection & Family Services</option>
                        <option value="7">Community Health Care</option>
                        <option value="8">Counselling</option>
                        <option value="36">Crisis Line (GPAH use only)</option>
                        <option value="9">Death Services</option>
                        <option value="10">Dental</option>
                        <option value="11">Disability Support</option>
                        <option value="12">Drug/Alcohol</option>
                        <option value="13">Education & Learning</option>
                        <option value="14">Emergency Department</option>
                        <option value="15">Employment</option>
                        <option value="16">Financial & Material Aid</option>
                        <option value="17">General Practice</option>
                        <option value="35">Hospital</option>
                        <option value="18">Housing/Homelessness</option>
                        <option value="19">Interpreting</option>
                        <option value="20">Justice</option>
                        <option value="21">Legal</option>
                        <option value="22">Mental Health</option>
                        <option value="38">NDIA</option>
                        <option value="23">Physical Activity & Recreation</option>
                        <option value="24">Regulation</option>
                        <option value="25">Respite/Carer Support</option>
                        <option value="26">Specialist Clinical Pathology</option>
                        <option value="27">Specialist Medical</option>
                        <option value="28">Specialist Obstetrics & Gynecology</option>
                        <option value="29">Specialist Paediatric</option>
                        <option value="30">Specialist Radiology/Imaging</option>
                        <option value="31">Specialist Surgical - requires referral</option>
                        <option value="32">Support group/s</option>
                        <option value="37">Test Message (HSD admin use only)</option>
                        <option value="33">Transport</option>
                    </select>
				</div>
			</div>
			
			
            <div class="col-md-9">
				<div class="form-group">
					<label for="appointment_pt_instruction" class=" fw-semibold fs-6 my-2">Patient Instruction:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="pt_instruction" id="appointment_pt_instruction">
				</div>
			</div>
            <div class="col-md-9">
				<div class="form-group">
					<label for="appointment_cancel_reason" class="fw-semibold fs-6 my-2">Cancel Reason:</label>
					<select  class="form-control select2 custom-select" id="appointment_cancel_reason" data-field="cancel_reason">
                        <option value=""></option>
                        <option value="pat">Patient</option>
                        <option value="pat-crs">Patient: Canceled via automated reminder system</option>
                        <option value="pat-cpp">Patient: Canceled via Patient Portal</option>
                        <option value="pat-dec">Patient: Deceased</option>
                        <option value="pat-fb">Patient: Feeling Better</option>
                        <option value="pat-lt">Patient: Lack of Transportation</option>
                        <option value="pat-mt">Patient: Member Terminated</option>
                        <option value="pat-mv">Patient: Moved</option>
                        <option value="pat-preg">Patient: Pregnant</option>
                        <option value="pat-swl">Patient: Scheduled from Wait List</option>
                        <option value="pat-ucp">Patient: Unhappy/Changed Provider</option>
                        <option value="prov">Provider</option>
                        <option value="prov-pers">Provider: Personal</option>
                        <option value="prov-dch">Provider: Discharged</option>
                        <option value="prov-edu">Provider: Edu/Meeting</option>
                        <option value="prov-hosp">Provider: Hospitalized</option>
                        <option value="prov-labs">Provider: Labs Out of Acceptable Range</option>
                        <option value="prov-mri">Provider: MRI Screening Form Marked Do Not Proceed</option>
                        <option value="prov-onc">Provider: Oncology Treatment Plan Changes</option>
                        <option value="maint">Equipment Maintenance/Repair</option>
                        <option value="meds-inc">Prep/Med Incomplete</option>
                        <option value="other">Other</option>
                        <option value="oth-cms">Other: CMS Therapy Cap Service Not Authorized</option>
                        <option value="oth-err">Other: Error</option>
                        <option value="oth-fin">Other: Financial</option>
                        <option value="oth-iv">Other: Improper IV Access/Infiltrate IV</option>
                        <option value="oth-int">Other: No Interpreter Available</option>
                        <option value="oth-mu">Other: Prep/Med/Results Unavailable</option>
                        <option value="oth-room">Other: Room/Resource Maintenance</option>
                        <option value="oth-oerr">Other: Schedule Order Error</option>
                        <option value="oth-swie">Other: Silent Walk In Error</option>
                        <option value=" oth-weath">Other: Weather</option>
                    </select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="appointment_cancel_date" class="fw-semibold fs-6 my-2">Cancel Date:</label>
					<input type="datetime-local" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="cancel_date" id="appointment_cancel_date">
				</div>
			</div>
            

		  </div>
		</div>
		<div class="modal-footer">
		  <label class="form-check form-check-custom form-check-sm form-check-solid mb-3 me-6">
			<input class="form-control form-check-input p-4" type="checkbox" value="1"  id="appointment_attended" data-field="attended">
			<span class="form-check-label text-gray-600 fw-semibold">Appointment Attended</span>
		  </label>
		  <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
		  <button type="button" class="btn btn-primary" id="appt_save_btn"><i class="fa fa-save">&nbsp;</i> Save</button>
		</div>
	  </div>
	</div>
</div>

<%- include("../patients/patientModal"); %>

