
<input type="hidden" id ="hedisdate" />
<input type="hidden" id ="chosen_item" />
<div class="row ml-2 mr-2 mt-2">
	<h2 class="hedis-title text-primary mr-4"></h2>&nbsp;&nbsp;
	<h4 class="generatetitle mt-2 text-primary d-none"><span class="generatedfilename"></span> | Generated : <span class="generatedfiledate"></span><span class="reportedfile"></span></h4>
</div>
<div class="row ml-2 mr-2">
    <div class="col-md-6 mt-2 settingicon">
		<i class="fa fa-plus-circle addnewpathbtn text-primary" data-toggle="tooltip" title="" data-original-title="Add New Patient"></i>
		<i class="fa fa-id-badge getinsidbtn text-primary" data-toggle="tooltip" title="" data-original-title="Get insurance id list"></i>
		<i class="fa fa-get-pocket getemrdbtn text-primary" data-toggle="tooltip" title="" data-original-title="Get Emr id list"></i>
		<i class="fa fa-filter sortbtn text-primary" data-toggle="tooltip" title="" data-original-title="Sort"></i>
		<i class="fa fa-file-excel-o exportexcelbtn text-primary" data-toggle="tooltip" title="" data-original-title="Excel"></i>
		<i class="fa fa-paint-brush colormodalbtn text-primary" data-toggle="tooltip" title="" data-original-title="Color Key"></i>
		<a href="../pages/hedisdaily" target="_blank"><i class="fa fa-clock-o text-primary" data-toggle="tooltip" title="" data-original-title="Daily List"></i></a>
		<a href="../pages/hedisnoncompliant" target="_blank"><i class="fa fa-wpforms text-primary" data-toggle="tooltip" title="" data-original-title="Last Visit List"></i></a>
		<i class="fa fa-refresh refreshbtn text-primary" data-toggle="tooltip" title="" data-original-title="Refresh"></i>
		<span class="text-primary pr-5">PTs <span class="totalptcnt"></span> | Measures <span class="totalmeasurecnt"></span></span>
		
		<label class="custom-control custom-radio d-inline-flex pl-3">
            <input type="radio" class="custom-control-input donenotdoneoption" name="donenotdoneoption" value="1">
            <span class="tag custom-control-label">All</span>
		</label>
		<label class="custom-control custom-radio d-inline-flex pl-3">
            <input type="radio" class="custom-control-input donenotdoneoption" name="donenotdoneoption" value="3" checked>
            <span class="tag custom-control-label">Non Compliant</span>
		</label>
		<label class="custom-control custom-radio d-inline-flex pl-3">
            <input type="radio" class="custom-control-input donenotdoneoption" name="donenotdoneoption" value="2">
            <span class="tag custom-control-label">Compliant</span>
		</label>
		<label class="custom-control custom-radio d-inline-flex pl-3">
            <input type="radio" class="custom-control-input donenotdoneoption" name="donenotdoneoption" value="4">
            <span class="tag custom-control-label">Generated-Reported</span>
		</label>
    </div>
	<div class="col-md-6 mt-2 text-right outputbtnsection">
       
    </div>
</div>
<div class="progress progress-xs mt-3 mb-3 progress-load d-none">
	<div class="progress-bar progress-bar-indeterminate bg-blue"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="hedisreport" class="jexcel_modern"></div>
    </div>
</div>

<div class="modal fade" id="encounter_modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-fullscreen p-9" role="document">
		<div class="modal-content modal-rounded">
			<div class="modal-header">
				<h3 class="modal-title" >Encounters </h3>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="d-flex flex-wrap flex-sm-nowrap mb-3 col-md-4">
						<!--begin: Pic-->
						
						<!--end::Pic-->
						<!--begin::Info-->
						<div class="flex-grow-1">
							<!--begin::Title-->
							<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
								<!--begin::User-->
								<div class="d-flex flex-column">
									<!--begin::Name-->
									<div class="d-flex align-items-center mb-2">
										<div class="d-none" id="pt_male">
											<svg xmlns="http://www.w3.org/2000/svg" width="40" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512"><path fill-rule="nonzero" d="M256 0c70.69 0 134.69 28.655 181.018 74.982C483.345 121.31 512 185.31 512 256s-28.655 134.69-74.982 181.018C390.69 483.345 326.69 512 256 512s-134.69-28.655-181.018-74.982C28.655 390.69 0 326.69 0 256S28.655 121.31 74.982 74.982C121.31 28.655 185.31 0 256 0zm-49.371 316.575c-.992-1.286 2.594-10.118 3.443-11.546-9.722-8.651-17.404-17.379-19.041-35.34l-1.043.022c-2.408-.032-4.729-.586-6.903-1.825-3.481-1.979-5.93-5.379-7.583-9.212-3.5-8.043-15.031-34.738 2.537-32.628-9.823-18.345 12.409-49.684-25.935-61.275 31.46-39.845 97.839-101.281 146.483-39.654 53.245 5.16 69.853 68.437 34 103.093 2.101.076 4.08.56 5.832 1.498 6.665 3.57 6.884 11.318 5.132 17.819-1.733 5.429-3.934 9.104-6.01 14.397-2.524 7.147-6.215 8.478-13.345 7.708-.362 17.67-8.528 26.343-19.518 36.724l3.007 10.187c-14.737 31.261-75.957 32.518-101.056.032zM78.752 394.224c12.076-51.533 45.656-33.396 110.338-73.867 22.982 47.952 116.386 51.437 135.54 0 55.35 35.384 98.967 20.923 109.958 72.138 28.965-37.841 46.176-85.158 46.176-136.495 0-62.068-25.158-118.26-65.83-158.934C374.26 56.394 318.068 31.236 256 31.236S137.74 56.394 97.066 97.066C56.394 137.74 31.236 193.932 31.236 256c0 52.123 17.744 100.099 47.516 138.224z"/></svg>
										</div>
										<div class="" id="pt_female">
												<svg xmlns="http://www.w3.org/2000/svg" width="40" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512"><path fill-rule="nonzero" d="M256 0c70.69 0 134.69 28.655 181.018 74.982C483.345 121.31 512 185.31 512 256s-28.655 134.69-74.982 181.018C390.69 483.345 326.69 512 256 512s-134.69-28.655-181.018-74.982C28.655 390.69 0 326.69 0 256S28.655 121.31 74.982 74.982C121.31 28.655 185.31 0 256 0zm83.858 360.495c-8.946-17.959-20.291-33.187-33.495-47.498 86.303 33.392 107.758 28.216 126.204 82.097 30.184-38.263 48.197-86.574 48.197-139.094 0-62.068-25.158-118.26-65.83-158.934C374.26 56.394 318.068 31.236 256 31.236S137.74 56.394 97.066 97.066C56.394 137.74 31.236 193.932 31.236 256c0 52.461 17.973 100.722 48.095 138.965 18.247-55.6 36.446-48.494 122.961-81.968-13.204 14.311-24.549 29.539-33.5 47.498l25.915-.635 58.179 46.465 61.058-46.465 25.914.635zm-127.87-64.325v15.645l-15.421 25.895 57.727 45.55 57.794-45.959-20.199-26.986v-14.557c20.758-1.106 38.585-2.954 48.454-5.364 12.753-3.109 23.387-7.763 30.725-14.781-11.447-5.501-18.761-14.911-22.976-27.214-9.796-28.591-.507-60.756-4.884-91.797-5.864-41.569-33.021-55.47-59.976-52.595-34.379-28.257-96.069-11.754-112.764 36.542-8.433 24.396-3.3 44.822-4.204 69.543-1.22 33.255-9.873 55.471-28.678 62.555 6.51 7.745 15.82 13.696 28.08 17.699 9.152 2.987 26.194 4.87 46.322 5.824z"/></svg>
										</div>
										<a class="text-gray-900 text-hover-primary fs-2 fw-bold mx-2" ><div class="" id="pt_fullname"></div></a>
										<a  class="btn btn-sm btn-light-success fw-bold ms-2 fs-8 py-1 px-3" ></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
											<i class="ki-duotone ki-calendar fs-1 me-1">
												<span class="path1"></span>
												<span class="path2"></span>
											</i><div class="" id="pt_dob"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
										<i class="ki-duotone ki-geolocation fs-1 me-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i><div class="" id="pt_address"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2 d-flex align-items-center">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
											<i class="fa fa-phone ms-1 me-3 " aria-hidden="true"></i> <div id="pt_telephone"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2 d-flex align-items-center">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
											<i class="ki-duotone ki-phone fs-1 me-1">
											<span class="path1"></span>
											<span class="path2"></span>
											</i> <div id="pt_phone"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
										<i class="ki-duotone ki-sms fs-1 me-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i><div id="pt_email"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
											<div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip" data-bs-original-title="Susan Redwood" data-kt-initialized="1">
												<span class="symbol-label bg-primary text-inverse-primary fw-bold">L</span>
											</div><div id="pt_language"></div></a>
									</div>
									<div class= "fw-semibold fs-6 m-1 pe-2">
										<a  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
											<div class="symbol symbol-20px symbol-circle me-2" data-bs-toggle="tooltip" data-bs-original-title="Susan Redwood" data-kt-initialized="1">
												<span class="symbol-label bg-success text-inverse-success fw-bold">I</span>
											</div>Ins ID: <div id="pt_insid"></div></a>
									</div>
									<!--end::Info-->
								</div>
							</div>
							<div class="d-flex flex-wrap flex-stack">
								
								<div class="d-flex align-items-center w-100 flex-column mt-3">
									<div class="d-flex justify-content-between w-100 mt-auto mb-2">
										<span class="fw-semibold fs-6 text-gray-500">Completed</span>
										<span class="fw-bold fs-6">0%</span>
									</div>
									<div class="h-5px mx-3 w-100 bg-light mb-3">
										<div class="bg-success rounded h-5px" role="progressbar" style="width: 1%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
								
							</div>
							<div class="d-flex justify-content-end">
								<a class="btn btn-primary permissionaddbtn" id="add_btn" ><i class="fa fa-plus">&nbsp;</i>New Encounter</a>
							</div>
						</div>
					</div>
				  <div class="card-body col-md-8 ">
					<input type="hidden" id="chosen_vital" />
					
					<table class="table table-striped table-bordered text-nowrap w-100"  id="encounter_table" >
					  <thead>
						<tr >
							<th width="40%">Date Time</th>
							<th width="10%">Mins</th>
							<th width="10%">Type</th>
							<th width="10%">Status</th>
							<th width="30%" class="text-center col-md-3"></th>
						</tr>
					  </thead>
					  <tbody></tbody>
					</table>
				  </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
			 </div>
		</div>
	</div>
</div>

<div class="modal fade" id="encounter_edit_modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="example-Modal3">Encounter</h5>
		  <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
			  <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
		  </div>
		  <input type="hidden" class="form-control" id="encounter_id" data-field="id">
		  <input type="hidden" class="form-control" id="encounter_clinic_id" data-field="clinic_id">
		  <input type="hidden" class="form-control" id="encounter_patient_id" data-field="patient_id">
		  <input type="hidden" class="form-control" id="encounter_emr_id" data-field="emr_id">
		  <input type="hidden" class="form-control" id="encounter_pcp_id" data-field="pcp_id">
		</div>
		<div class="modal-body">
		  <div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_enc_type" class="fw-semibold fs-6 my-2">Type:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="enc_type" id="encounter_enc_type">
				</div>
			</div>
			<!-- <div class="col-md-2">
				<div class="form-group">
					<label for="encounter_visit_type" class="fw-semibold fs-6 my-2">Visit Type:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="visit_typ" id="encounter_visit_type">
				</div>
			</div> -->
			<!-- <div class="col-md-3">
				<div class="form-group">
					<label for="encounter_icd" class="fw-semibold fs-6 my-2">ICD:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="icd" id="encounter_icd">
				</div>
			</div> -->
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_status" class="fw-semibold fs-6 my-2">Status:</label>
					<select  class="form-control select2 custom-select" id="encounter_status" data-field="status"></select>
				</div>
			</div>
			<!-- <div class="col-md-4">
				<div class="form-group">
					<label for="encounter_transition_care" class="fw-semibold fs-6 my-2">Transition Of Care:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="transition_care" id="encounter_transition_care">
				</div>
			</div> -->
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_team_member" class="fw-semibold fs-6 my-2">Team Member:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="team_member" id="encounter_team_member">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_assigned" class="fw-semibold fs-6 my-2">Assigned To:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="assigned" id="encounter_assigned">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" >
					<label for="encounter_enc_start" class="required  fs-6 my-2">Start Time:</label>
					<div class="input-group"  data-td-target-input="nearest" data-td-target-toggle="nearest" >
						<input id="encounter_enc_start" type="text" class="form-control" data-field="enc_start" />
						<span class="input-group-text" data-td-target="#kt_td_picker_basic" data-td-toggle="datetimepicker">
							<i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span class="path2"></span></i>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="encounter_total_mins" class="required fw-semibold fs-6 my-2">Total Mins:</label>
					<input type="number" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="total_mins" id="encounter_total_mins">
				</div>
			</div>
			<!-- <div class="col-md-3">
				<div class="form-group">
					<label for="encounter_enc_end" class="fw-semibold fs-6 my-2">End Time:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="enc_end" id="encounter_enc_end">
				</div>
			</div> -->
			<div class="col-md-7">
				<div class="form-group">
					<label for="encounter_notes" class="fw-semibold fs-6 my-2">Notes:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="notes" id="encounter_notes">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="encounter_action_taken" class="fw-semibold fs-6 my-2">Action Taken:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="action_taken" id="encounter_action_taken">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_class" class="fw-semibold fs-6 my-2">Class:</label>
					<select  class="form-control select2 custom-select" id="encounter_class" data-field="class"></select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_priority" class="fw-semibold fs-6 my-2">Priority:</label>
					<select  class="form-control select2 custom-select" id="encounter_priority" data-field="priority"></select>
				</div>
			</div>
			<!-- <div class="col-md-3">
				<div class="form-group">
					<label for="encounter_subject_status" class="fw-semibold fs-6 my-2">Subject Status:</label>
					<select  class="form-control select2 custom-select" id="encounter_subject_status" data-field="subject_status"></select>
				</div>
			</div> -->
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_service_type" class="fw-semibold fs-6 my-2">Service Type:</label>
					<select  class="form-control select2 custom-select" id="encounter_service_type" data-field="service_type">
						<option value="Immunization">Immunization</option>
						<option value="Health Information/Referral">Health Information/Referral</option>
						<option value="Obstetrics & Gynaecology">Obstetrics & Gynaecology</option>
						<option value="Ophthalmology">Ophthalmology</option>
						<option value="Assessment">Assessment</option>
						<option value="Asthma">Asthma</option>
						<option value="Behavior">Behavior</option>
						<option value="Child Services">Child Services</option>
						<option value="Counselling">Counselling</option>
						<option value="Dental Hygiene">Dental Hygiene</option>
						<option value="Depression">Depression</option>
						<option value="Diabetes">Diabetes</option>
						<option value="Hypertension">Hypertension</option>
						<option value="Medical Specialists">Medical Specialists</option>
						<option value="Medical Service">Medical Service</option>
						<option value="Medication Administration">Medication Administration</option>
						<option value="Oral Hygiene">Oral Hygiene</option>
						<option value="Prescriptions">Prescriptions</option>
						<option value="Referral">Referral</option>
						<option value="Respiratory">Respiratory</option>
						<option value="Secure Extended Care">Secure Extended Care</option>
						<option value="Gastroenterology">Gastroenterology</option>
						<option value="Gynaecology">Gynaecology</option>
						<option value="Obstetrics">Obstetrics</option>
						<option value="Women's Health">Women's Health</option>
						<option value="Men's Health">Men's Health</option>
						<option value="Asthma">Asthma</option>
					</select>
				</div>
			</div>
			<!-- <div class="col-md-5">
				<div class="form-group">
					<label for="encounter_participant" class="fw-semibold fs-6 my-2">Participant:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="participant" id="encounter_participant">
				</div>
			</div> -->
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_participant_type" class="fw-semibold fs-6 my-2">Participant Type:</label>
					<select  class="form-control select2 custom-select" id="encounter_participant_type" data-field="participant_type"></select>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="encounter_reason" class="fw-semibold fs-6 my-2">Reason:</label>
					<input type="text" class="form-control form-control-solid mb-3 mb-lg-0 " data-field="reason" id="encounter_reason">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="encounter_reason_use" class="fw-semibold fs-6 my-2">Reason Use:</label>
					<select  class="form-control select2 custom-select" id="encounter_reason_use" data-field="reason_use"></select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="encounter_reason_codes" class="fw-semibold fs-6 my-2">Reason Codes:</label>
					<select  class="form-control select2 custom-select" id="encounter_reason_codes" data-field="reason_codes"></select>
				</div>
			</div>
	
		  </div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
		  <button type="button" class="btn btn-primary" id="update_btn"><i class="fa fa-save">&nbsp;</i> Save</button>
		</div>
	  </div>
	</div>
  </div>