
<style>
	.pt-loader{
		position: fixed;
		z-index: 50000;
		background: rgba(255, 255, 255);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.kt-progress-container {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%; /* Adjust as needed */
    }
    
    .kt-progress {
        flex: 1;
        background-color: #9fc9f727; /* Background color of the progress bar container */
        height: 16px; /* Height of the progress bar container */
        border-radius: 8px; /* Rounded corners for the container */
        position: relative;
    }
    
    .kt-progress-bar {
        background-color: #007bffcc; /* Color of the progress bar */
        height: 100%; /* Full height of the container */
        color: white; /* Text color */
        text-align: center; /* Center align text horizontally */
        line-height: 16px; /* Center text vertically */
        border-radius: 8px; /* Rounded corners for the progress bar */
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflowed text */
    }
    
    .kt-progress-text {
		flex: center;
        margin-left: 10px; /* Space between progress bar and text */
        white-space: nowrap; /* Prevent text from wrapping */
		color:dodgerblue;
    }
</style>

<!-- ROW-1 OPEN -->
<div class="row">
	<!--begin::Page loading(append to body)-->
	<div class="page-loader flex-column bg-dark bg-opacity-50">
		<span class="spinner-border text-primary" role="status"></span>
		<span class="text-gray-300 fs-1 fw-semibold mt-5">Loading...</span>
	</div>
	<!--end::Page loading-->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Laboratory Data Loader</h3>
            </div>
            <div class="card-body p-6">
				<div class="tab-menu-heading">
					<ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
						<li class="nav-item"><a href="#lab_loader_excel" class="nav-link active" data-bs-toggle="tab">Excel</a></li>
						<li class="nav-item"><a href="#lab_loader_ecwbulk" class="nav-link " data-bs-toggle="tab">ECW Bulk</a></li>
					</ul>
				</div>
				<div class="panel-body tabs-menu-body tab_area">
					<div class="tab-content">
						<div class="tab-pane active" id="lab_loader_excel">
							<div class="col-lg-12">
								<div class="card shadow">
									<div class="card-header">
										<h3 class="mb-0 card-title">Load Laboratory File</h3>
										<div class="card-toolbar">
											<select class="form-select w-250px" data-control="select2" data-placeholder="Select a Laboratory" id="lab-select">
											</select>
										</div>
										<div class="card-toolbar">
											<a class="btn btn-success useraddbtn" id="labloadbtn" ><i class="fa fa-upload">&nbsp;</i>Upload</a>
										</div>
									</div>
									<div class="card-body">
										<h6>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>VISIT_TYPE</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>ENC_STATUS</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>patientId</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>doctorid</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>Lab_D_Encounter</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>RId_HL7</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>LAB_testName</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>name_HL7</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>value_HL7</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>units_HL7</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>Lab_ResultDate</span>
											<span class='badge badge-primary badge-square badge-lg px-3 my-2'>date</span>
										</h6>
										<input id="labfile" type="file" class="dropify" data-height="150" />
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="lab_loader_ecwbulk">
							<div class="col-lg-12">
								<div class="card shadow">
									<div class="card-header">
										<h3 class="mb-0 card-title">ECW Bulk</h3>
										<div class="card-toolbar">
											<a class="btn btn-success" id="labloader_ecwbulk_btn" ><i class="fa fa-upload">&nbsp;</i>Gather</a>
										</div>
									</div>
									<div class="card-body">
										<div class="mb-5">
											<label for="labloader_ecwbulk_url" class="form-label">Laboratory Source Url</label>
											<div class="input-group mb-5">
												<span class="input-group-text" id="basic-addon3">https://</span>
												<input type="text" class="form-control" id="labloader_ecwbulk_url" aria-describedby="basic-addon3" value="test.conecxo.com/api/FHIR/patients"/>
											</div>
										</div>
										<div class="mb-5">
											<label for="labloader_ecwbulk_key" class="form-label">API Key</label>
											<div class="input-group mb-5">
												<span class="input-group-text" id="basic-addon3">Key</span>
												<input type="text" class="form-control" id="labloader_ecwbulk_key" aria-describedby="basic-addon3" value="cf4b3acb7de1d8e86bd587f9f7347e6a0a2f6aa425b29c21d9d336692f499c10701920c2081fc7e9a9d84a7fdec6a5cf406ec6bec257960aa21d781c9543a573"/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW CLOSED -->

<div class="modal fade" id="load-result-modal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" >Loaded Successfully</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
				</div>
			</div>
			<div class="modal-body px-15">
                <div class="row flex-center d-flex flex-wrap justify-content-lg-between mx-auto">
                    <div class="col-md-4 d-flex flex-column text-center flex-center h-150px w-150px h-lg-200px w-lg-200px bg-light rounded-circle">
						<i class="fa fa-solid fa-file" style="font-size: 4rem; color: #74C0FC;"></i>
						<span class="number fs-2qx fw-bold mt-4 text-gray-700" id="kt-countup-curlab" data-kt-countup="true" data-kt-countup-value="0">0</span>
						<span class="time fs-2 text-gray-600">Loaded Labs</span>
					</div>
					<div class="col-md-4 d-flex flex-column text-center flex-center h-150px w-150px h-lg-200px w-lg-200px bg-light rounded-circle">
						<i class="fa fa-solid fa-file-circle-plus" style="font-size: 4rem; color: #74C0FC;"></i>
						<a class=" mt-4" href="#" target="_blank">
							<span class="number newptcnt fs-2qx fw-bold fw-bold text-primary-700" id="kt-countup-newlab" data-kt-countup="true" data-kt-countup-value="0">0</span>
						</a>
						<span class="time fs-2 text-gray-600">New Labs</span>
					</div>
					<div class="col-md-4 d-flex flex-column text-center flex-center h-150px w-150px h-lg-200px w-lg-200px bg-light rounded-circle">
						<i class="fa fa-solid fa-layer-group" style="font-size: 4rem; color: #74C0FC;"></i>
						<span class="number fs-2qx fw-bold  fs-2qx fw-bold mt-4 text-gray-700" id="kt-countup-total" data-kt-countup="true" data-kt-countup-value="0">0</span>
						<span class="time fs-2 text-gray-600">Total Labs</span>
					</div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
			 </div>
		</div>
	</div>
</div>

<div class="modal fade" id="loader-verification" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title fs-2">New Laboratory Upload Validation</h5>
			</div>
			<div class="modal-body">
				<div class="fs-1 my-10">This file is correct right? Pease Verify.</div>
				<div class="text-info fs-2qx" style="width: 100%; text-align: center;" id="verify-clinic-name"></div>
				<div class="form-check form-switch form-check-custom form-check-primary form-check-solid my-10">
					<input class="form-check-input h-40px w-80px" type="checkbox" value="" id="verify-check"/>
					<label class="form-check-label fs-2qx" for="verify-check">
						Please verify is correct clinic
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" id="verify-done" disabled><i class="fa fa-close">&nbsp;</i> Done</button>
				<button type="button" class="btn btn-danger mx-3" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
			 </div>
		</div>
	</div>
</div>
