
<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title"><h1>Referral Tracking</h1></div>
    <div class="card-toolbar">
    </div>
  </div>
  <div class="card-body py-4">
    <input type="hidden" id="chosen_referral" />
    <table class="table table-striped table-row-bordered border rounded gy-5 gs-7" id="referral_tracking_table" >
      <thead>
        <tr>
          <th>Insurance</th>
          <th>Emr ID</th>
          <th>Patient Information</th>
          <th>Measure</th>
          <th>Referral To</th>
          <th>Initiated</th>
          <th>Appt Date</th>
          <th>Received</th>
          <th>DOS</th>
          <th>Anticipated</th>
          <th>Overdue</th>
          <th>Actions</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
