
<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <div class="fs-1"><span>Patient Tracking | </span><span class="text-primary" id="clinic-name"></span></div>
        </div>
            <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body py-4">
        <div class="search-component">
            <div class="row p-3 mx-1">
                <div class="col-md-3">
                    <div class="d-flex align-items-center position-relative">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <input id="search_all" type="text" data-kt-user-table-filter="search" class="form-control form-control-solid ps-13" placeholder="Search ..."/>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-center position-relative">
                    <div class="form-check form-check-custom form-check-primary form-check-solid mx-auto">
                        <!-- <input id="search_seen" class="form-check-input h-30px w-30px" type="checkbox" value="" />
                        <label class="form-check-label" for="">Patient Seen</label> -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-search d-flex align-items-center show menu-dropdown" data-kt-menu-trigger="auto" data-kt-menu-permanent="true" data-kt-menu-placement="bottom-start">
                        <select id="search_type" aria-label="Select a Visit Type" data-control="select2" data-hide-search="true" data-placeholder="Select a Visit Type..." class="form-select mb-2">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-search d-flex align-items-center show menu-dropdown" data-kt-menu-trigger="auto" data-kt-menu-permanent="true" data-kt-menu-placement="bottom-start">
                        <select id="search_status" aria-label="Select a Visit Status" data-control="select2" data-hide-search="true" data-placeholder="Select a Visit Status..." class="form-select mb-2">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-row-bordered border rounded gy-4 gs-6" id="tracking_patient_table" >
            <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Loaded Date</th>
                    <th>Loaded By</th>
                    <th>Load Method</th>
                    <th>Pt Seen</th>
                    <th>Visit Type</th>
                    <th>Reason</th>
                    <th>Visit Status</th>
                    <th>Visit Dos</th>
                    <th>New Pt Type</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
