<style>
    .tab-content i {
        color:#fff;
    }
    .table-responsive{
        padding:10px;
    }
</style>
<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Medications Request</h3>
            </div>
            <div class="card-body p-6">
                <div class="panel panel-primary">
                    <div class=" tab-menu-heading">
                        <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                            <li class="nav-item"><a href="#med_req_status" class="nav-link active" data-bs-toggle="tab">Status</a></li>
                            <li class="nav-item"><a href="#med_req_priority" class="nav-link" data-bs-toggle="tab">Priority</a></li>
                            <li class="nav-item"><a href="#med_req_intent" class="nav-link" data-bs-toggle="tab">Intent</a></li>
                            <li class="nav-item"><a href="#med_req_course" class="nav-link" data-bs-toggle="tab">Course Therapy</a></li>
                             <li class="nav-item"><a href="#med_req_stop" class="nav-link" data-bs-toggle="tab">Stop Reason</a></li>
                        </ul>
                    </div>
                    <div class="panel-body tabs-menu-body">
                        <div class="tab-content">
                            <!--Medications Request Status Table-->
                            <div class="tab-pane active " id="med_req_status">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6 px-6">
                                                <div class="card-title">
                                                    <h3 class="card-title">Medications Request Status</h3>                                                    
                                                </div>
                                                <div class="card-toolbar">
                                                    <button id="addMedReqStatusBtn" type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin-right: 10px;"><i class="fa fa-plus mr-2"></i>Add Status</button>                                                    
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                                          <span class="path1"></span>
                                                          <span class="path2"></span>
                                                        </i>
                                                        <input id="medReqStatus_search_input"  type="text" data-kt-user-table-filter="search"  class="form-control form-control-solid w-350px ps-13"  placeholder="Search Status" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="medReqStatusTable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Code</th>
                                                            <th scope="col">System</th>
                                                            <th scope="col">Display</th> 
                                                            <th scope="col">Definition</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Medications Request priority Table-->
                            <div class="tab-pane" id="med_req_priority">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6 px-6">
                                                <div class="card-title">
                                                    <h3 class="card-title ">Medications Request Priority</h3>
                                                </div>
                                                <div class="card-toolbar">
                                                    <button id="addMedReqPriorityBtn" type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin-right: 10px;"><i class="fa fa-plus mr-2"></i>Add Priority</button>
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                                          <span class="path1"></span>
                                                          <span class="path2"></span>
                                                        </i>
                                                        <input id="medReqPriority_search_input"  type="text" data-kt-user-table-filter="search"  class="form-control form-control-solid w-350px ps-13"  placeholder="Search Status" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="medReqPriorityTable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Code</th>
                                                            <th scope="col">System</th>
                                                            <th scope="col">Display</th> 
                                                            <th scope="col">Definition</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Medications Request Intent Table-->
                            <div class="tab-pane" id="med_req_intent">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6 px-6">
                                                <div class="card-title">
                                                    <h3 class="card-title ">Medications Request Intent</h3>
                                                </div>
                                                <div class="card-toolbar">
                                                    <button id="addMedReqIntentBtn" type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin-right: 10px;"><i class="fa fa-plus mr-2"></i>Add Intent</button>
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                                          <span class="path1"></span>
                                                          <span class="path2"></span>
                                                        </i>
                                                        <input id="medReqIntent_search_input"  type="text" data-kt-user-table-filter="search"  class="form-control form-control-solid w-350px ps-13"  placeholder="Search Status" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="medReqIntentTable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Code</th>
                                                            <th scope="col">System</th>
                                                            <th scope="col">Display</th> 
                                                            <th scope="col">Definition</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Medications Request Course Therapy Table-->
                            <div class="tab-pane" id="med_req_course">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6 px-6">
                                                <div class="card-title">
                                                    <h3 class="card-title ">Medications Request Course Therapy</h3>
                                                </div>
                                                <div class="card-toolbar">
                                                    <button id="addMedReqCourseBtn" type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin-right: 10px;"><i class="fa fa-plus mr-2"></i>Add Course Therapy</button>
                                                    <input type="hidden" id="chosen_sq" />
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                                          <span class="path1"></span>
                                                          <span class="path2"></span>
                                                        </i>
                                                        <input id="medReqCourse_search_input"  type="text" data-kt-user-table-filter="search"  class="form-control form-control-solid w-350px ps-13"  placeholder="Search Status" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="medReqCourseTable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Code</th>
                                                            <th scope="col">System</th>
                                                            <th scope="col">Display</th> 
                                                            <th scope="col">Definition</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Medications Request Course Therapy Table-->
                            <div class="tab-pane" id="med_req_stop">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-0 pt-6 px-6">
                                                <div class="card-title">
                                                    <h3 class="card-title ">Medications Request Stop Reason</h3>
                                                </div>
                                                <div class="card-toolbar">
                                                    <button id="addMedStatusBtn" type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin-right: 10px;"><i class="fa fa-plus mr-2"></i>Add Status</button>
                                                    <input type="hidden" id="chosen_sq" />
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                                          <span class="path1"></span>
                                                          <span class="path2"></span>
                                                        </i>
                                                        <input id="table_search_input"  type="text" data-kt-user-table-filter="search"  class="form-control form-control-solid w-350px ps-13"  placeholder="Search Status" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered text-nowrap w-100" id="squestiontable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Code</th>
                                                            <th scope="col">System</th>
                                                            <th scope="col">Display</th> 
                                                            <th scope="col">Definition</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSED -->

<!-- Medications Request Status Modal -->
<div class="modal fade" id="medReqStatusAddModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Medications Request Status</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Code:</label>
                            <input type="text" class="form-control" id="add_med_req_status_code" name="add_med_req_status_code">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">System:</label>
                            <input type="text" class="form-control" id="add_med_req_status_system" name="add_med_req_status_system">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Display:</label>
                            <input type="text" class="form-control" id="add_med_req_status_display" name="add_med_req_status_display">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Definition:</label>
                            <input type="text" class="form-control" id="add_med_req_status_definition" name="add_med_req_status_definition">
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="saveMedReqStatusBtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="medReqStatusEditModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Medications Request Status</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="edit_med_req_status_id" name="edit_med_req_status_id">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Code:</label>
                                <input type="text" class="form-control" id="edit_med_req_status_code" name="edit_med_req_status_code">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">System:</label>
                                <input type="text" class="form-control" id="edit_med_req_status_system" name="edit_med_req_status_system">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Display:</label>
                                <input type="text" class="form-control" id="edit_med_req_status_display" name="edit_med_req_status_display">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Definition:</label>
                                <input type="text" class="form-control" id="edit_med_req_status_definition" name="edit_med_req_status_definition">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="updateMedReqStatusBtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>

<!-- Medications Request Priority Modal -->
<div class="modal fade" id="medReqPriorityAddModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Medications Request Priority</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Code:</label>
                            <input type="text" class="form-control" id="add_med_req_priority_code" name="add_med_req_priority_code">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">System:</label>
                            <input type="text" class="form-control" id="add_med_req_priority_system" name="add_med_req_priority_system">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Display:</label>
                            <input type="text" class="form-control" id="add_med_req_priority_display" name="add_med_req_priority_display">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Definition:</label>
                            <input type="text" class="form-control" id="add_med_req_priority_definition" name="add_med_req_priority_definition">
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="saveMedReqPriorityBtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="medReqPriorityEditModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Medications Request Priority</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="edit_med_req_priority_id" name="edit_med_req_priority_id">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Code:</label>
                                <input type="text" class="form-control" id="edit_med_req_priority_code" name="edit_med_req_priority_code">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">System:</label>
                                <input type="text" class="form-control" id="edit_med_req_priority_system" name="edit_med_req_priority_system">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Display:</label>
                                <input type="text" class="form-control" id="edit_med_req_priority_display" name="edit_med_req_priority_display">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Definition:</label>
                                <input type="text" class="form-control" id="edit_med_req_priority_definition" name="edit_med_req_priority_definition">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="updateMedReqPriorityBtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>

<!-- Medications Request Intent Modal -->
<div class="modal fade" id="medReqIntentAddModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Medications Request Intent</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Code:</label>
                            <input type="text" class="form-control" id="add_med_req_intent_code" name="add_med_req_intent_code">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">System:</label>
                            <input type="text" class="form-control" id="add_med_req_intent_system" name="add_med_req_intent_system">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Display:</label>
                            <input type="text" class="form-control" id="add_med_req_intent_display" name="add_med_req_intent_display">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Definition:</label>
                            <input type="text" class="form-control" id="add_med_req_intent_definition" name="add_med_req_intent_definition">
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="saveMedReqIntentBtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="medReqIntentEditModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Medications Request Intent</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="edit_med_req_intent_id" name="edit_med_req_intent_id">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Code:</label>
                                <input type="text" class="form-control" id="edit_med_req_intent_code" name="edit_med_req_intent_code">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">System:</label>
                                <input type="text" class="form-control" id="edit_med_req_intent_system" name="edit_med_req_intent_system">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Display:</label>
                                <input type="text" class="form-control" id="edit_med_req_intent_display" name="edit_med_req_intent_display">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Definition:</label>
                                <input type="text" class="form-control" id="edit_med_req_intent_definition" name="edit_med_req_intent_definition">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="updateMedReqIntentBtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>

<!-- Medications Request Course Therapy Modal -->
<div class="modal fade" id="medReqCourseAddModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Add Medications Request Course Therapy</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Code:</label>
                            <input type="text" class="form-control" id="add_med_req_course_code" name="add_med_req_course_code">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">System:</label>
                            <input type="text" class="form-control" id="add_med_req_course_system" name="add_med_req_course_system">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Display:</label>
                            <input type="text" class="form-control" id="add_med_req_course_display" name="add_med_req_course_display">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="question" class="form-control-label">Definition:</label>
                            <input type="text" class="form-control" id="add_med_req_course_definition" name="add_med_req_course_definition">
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="saveMedReqCourseBtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="medReqCourseEditModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal3">Edit Medications Request Course Therapy</h5>
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="edit_med_req_course_id" name="edit_med_req_course_id">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Code:</label>
                                <input type="text" class="form-control" id="edit_med_req_course_code" name="edit_med_req_course_code">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">System:</label>
                                <input type="text" class="form-control" id="edit_med_req_course_system" name="edit_med_req_course_system">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Display:</label>
                                <input type="text" class="form-control" id="edit_med_req_course_display" name="edit_med_req_course_display">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="question" class="form-control-label">Definition:</label>
                                <input type="text" class="form-control" id="edit_med_req_course_definition" name="edit_med_req_course_definition">
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fa fa-close">&nbsp;</i> Close</button>
                <button type="button" class="btn btn-primary" id="updateMedReqCourseBtn"><i class="fa fa-save">&nbsp;</i> Done</button>
            </div>
		</div>
	</div>
</div>