
<input type="hidden" id ="hedisdate" />
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title mb-0">Select Program to Review</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="btn-list inshedislist">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn-list dailylist">
                            <a href="../pages/hedisdaily" target="_blank" class="btn btn-radius btn-success">Daily List</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn-list ncompliantlist">
                            <a href="../pages/hedisnoncompliant" target="_blank" class="btn btn-radius btn-info">Non Utilizers List</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn-list">
                            <a href="../pages/conciergereport" class="btn btn-radius btn-primary">Hedis Concierge Report</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- ROW-5 END -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title mb-0">Hedis Population Health</h3>
            </div>
            <div class="card-body">
                <div class="btn-list inshedispoplutaion">
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- ROW-5 END -->

