<!doctype html>
<html lang="en" dir="ltr">
  <head>

		<!-- META DATA -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- FAVICON -->
		<link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico" />

		<!-- TITLE -->
		<title>ConectorHealth</title>

		<!-- BOOTSTRAP CSS -->
		<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

		<!-- STYLE CSS -->
		<link href="../assets/css/style.css" rel="stylesheet"/>

		<!--BOOTSTRAP-DATERANGEPICKER CSS-->
		<link rel="stylesheet" href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css">
		<!-- DATE PICKER CSS -->
		<link href="../assets/plugins/date-picker/spectrum.css" rel="stylesheet"/>

		<!-- NOTIFICATION CSS -->
		<link href="../assets/plugins/notify/css/jquery.growl.css" rel="stylesheet"/>

		<!--SWEET ALERT CSS-->
		<link href="../assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />

		<!-- SELECT2 CSS -->
		<link href="../assets/plugins/select2/select2.min.css" rel="stylesheet"/>

		
		<!--- FONT-ICONS CSS -->
		<link href="../assets/css/icons.css" rel="stylesheet"/>

		<!-- COLOR SKIN CSS -->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/colors/color4.css" />
	</head>

	<body class="app sidebar-mini">


		<!-- GLOABAL LOADER -->
		<div id="global-loader">
			<img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /GLOABAL LOADER -->
		<!-- PAGE -->
		<div class="page">
			<div class="page-main">
				<!--app-content open-->
				<div class="app-content">
					<div class="side-app">
						<%- include(pageKey); %>
					</div>
				</div>
			</div>
		</div>
		<!-- JQUERY JS -->
		<script src="../assets/js/jquery-3.4.1.min.js"></script>

		<!-- BOOTSTRAP JS -->
		<script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>

		<!-- CHART-CIRCLE JS -->
		<script src="../assets/js/circle-progress.min.js"></script>

		<!-- RATING STAR JS-->
		<script src="../assets/plugins/rating/jquery.rating-stars.js"></script>

        <!-- CUSTOM SCROLLBAR JS-->
		<script src="../assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
		
		<!-- SIDE-MENU JS-->
		<script src="../assets/plugins/sidemenu/sidemenu.js"></script>

		<!-- BOOTSTRAP-DATERANGEPICKER JS -->
		<script src="../assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
		<script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

		<!-- TIMEPICKER JS -->
		<script src="../assets/plugins/time-picker/jquery.timepicker.js"></script>
		<script src="../assets/plugins/time-picker/toggles.min.js"></script>

		<!-- DATEPICKER JS -->
		<script src="../assets/plugins/date-picker/spectrum.js"></script>
		<script src="../assets/plugins/date-picker/jquery-ui.js"></script>
		<script src="../assets/plugins/input-mask/jquery.maskedinput.js"></script>

		
		<!-- FORMELEMENTS JS -->
		<script src="../assets/js/form-elements.js"></script>
		<!-- SELECT2 JS -->
		<script src="../assets/plugins/select2/select2.full.min.js"></script>
		
		<!-- NOTIFICATIONS JS -->
		<script src="../assets/plugins/notify/js/jquery.growl.js"></script>

		<!-- SWEET-ALERT JS -->
		<script src="../assets/plugins/sweet-alert/sweetalert.min.js"></script>
		<script src="../assets/js/sweet-alert.js"></script>
		
		<!-- CUSTOM JS -->
		<script src="../assets/js/custom.js"></script>
		<script src="../assets/js/print.min.js"></script>
		<script src="../assets/js/api.js"></script>
		<script src="../assets/js/twilio.min.js"></script>

		<script src="../assets/js/pages/<%- pageKey -%>.js"></script>
		<link href="../assets/jexcel/jexcel.css" rel="stylesheet">
		<link href="../assets/jexcel/jsuites.css" rel="stylesheet">
		<script src="../assets/jexcel/jexcel.js"></script>
		<script src="../assets/jexcel/jsuites.js"></script>
		<script>
			async function inactivitylogout() {
				let currentTime = new Date();
				currentTime = currentTime.getTime() / 1000;
				if (currentTime - localStorage.getItem('lastActivity') > 1800) {
					await sendRequestWithToken('POST', localStorage.getItem('authToken'), {id:localStorage.getItem("loginid")}, "login/updateloginouttime", (xhr, err) => {
						if (!err) {
						} else {
							return $.growl.error({
							message: "Action Failed"
							});
						}
					});
					localStorage.removeItem("userid");
          			localStorage.removeItem("usertype");
          			localStorage.removeItem("username");
          			localStorage.removeItem("userclinic");
          			localStorage.removeItem("lastActivity");
          			localStorage.removeItem("loginid");
					window.close();
				}
			}

			$(document.body).click(function (e) {
				var lastActivity = new Date();
				lastActivity = lastActivity.getTime() / 1000;
				localStorage.setItem('lastActivity', lastActivity);
			});
			$(document).ready(function () {
				"use strict";
				
				if (localStorage.getItem('userid') == '' || localStorage.getItem('userid') == undefined) {
					window.location.replace("../");
				} 

				var lastActivity = new Date();
				lastActivity = lastActivity.getTime() / 1000;
				localStorage.setItem('lastActivity', lastActivity);
				var checkActivity = setInterval(inactivitylogout, 5000);

			});
		</script>
	</body>
</html>
