<style>
    .jexcel{
        width:100%!important;
    }
	.settingicon i{
		padding:10px;
		font-size: 0.9rem;
		cursor: pointer;
	}
	.blue-color{
		color:blue;
	}
	#ui-datepicker-div{
		z-index: 10000!important;
	}
</style>
<input type="hidden" id ="ptdate" />
<input type="hidden" id ="chosen_item" />
<div class="row ml-2 mr-2 mt-2">
	<h2 class=" text-primary"><span class="pt-title"></span><span class="totalflag"> | Total : <span class="totalcount"></span></span></h2>
</div>
<div class="progress progress-xs mt-3 mb-3 progress-load d-none">
	<div class="progress-bar progress-bar-indeterminate bg-blue"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="ptreport" class="jexcel_modern"></div>
    </div>
</div>