<!doctype html>
<html lang="en" dir="ltr">
  <head>
	<meta charset="utf-8" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="ConectorHealth" />
	<meta property="og:site_name" content="ConectorHealth" />
	<title>ConectorHealth</title>
	<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
	<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		
	</head>

	<body>

		<!-- BACKGROUND-IMAGE -->
			<%- include(pageKey); %>
		<!-- BACKGROUND-IMAGE CLOSED -->

		<script>var hostUrl = "assets/";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="/assets/plugins/global/plugins.bundle.js"></script>
		<script src="/assets/js/scripts.bundle.js"></script>

		<script src="/assets/js/api.js"></script>
		<script src="/assets/js/pages/<%- pageKey -%>.js"></script>
	</body>
</html>
